.float_left{
  float: left!important;
}

.center{
  margin: auto;
}

.btn-warning{
  color: white!important;
}

.float_right{
  float: right!important;
}

.w-100{
  width: 100px!important;
}

.w-120{
  width: 120px!important;
}

.w-130{
  width: 130px!important;
}

.w-150{
  width: 150px!important;
}

.w-160{
  width: 160px!important;
}

.w-170{
  width: 170px!important;
}

.w-200{
  width: 200px!important;
}

.w-220{
  width: 220px!important;
}

.half{
  width: 49.5%!important;
}

.fa-asterisk{
  color: #ff7066;
}

.swal_info{
  color: blue;
  font-weight: bold;
}

.swal_error{
  color: red;
  font-weight: bold;
}

.swal_success{
  color: green;
  font-weight: bold;
}

.hide{
  display: none;
}

.border{
  border: 1px solid black!important;
  border-radius: 10px!important;
  margin: 10px!important;
}

.border_plate{
  border: 1px solid black!important;
  height: 300px!important;
  overflow: auto!important;
  padding: 1em!important;
}

body{
  overflow: hidden;
}
.occolor_text{
  color: #2e4e63!important;
}
.occolor_bg{
  background-color: #2e4e63!important;
}

.occolor_bg2{
  background-color: #a8a8a8!important;
}

.occolor_header{
  background-color: #0f3d87!important;
}

.occolor_border{
  border-left: 2px solid #0f3d87!important;
}

.occolor_td{
  color: blue!important;
  font-weight: bold!important;
}

.occolor_td_lg{
  color: blue!important;
  font-weight: bold!important;
  font-size: 18px!important;
}

.dark_td{
  color: black!important;
  font-weight: bold!important;
  font-size: 18px!important;
}

.clickable{
  cursor: pointer!important;
}
